/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.box{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #23242a;
    column-gap: 30px;
}  
.contain{
    position: relative;
    width: 480px;
    border-radius: 8px;
    background: #1c1c1c;
    overflow: hidden;
    height: 600px;
}

.contain::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 480px;
    height: 600px;
    background: linear-gradient(0deg,transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.contain::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 480px;
    height: 600px;
    background: linear-gradient(0deg,transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.form{
    position: absolute; 
    inset: 2px;
    background: #28292d;
    z-index: 10;  
    border-radius: 8px;
    padding: 45px 45px;
    display: flex;
    flex-direction: column;
}

header{
    font-size: 28px;
    font-weight: 500;
    color: #45f3ff;
    text-align: center;
    letter-spacing: 0.1em;
}
form{
    margin-top: 30px;
}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
}
.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.field button{
    color: #fff;
    background-color: #45f3ff;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: #45f3ff;
}
.form-link{
    text-align: center;
    margin-top: 5px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #d4d4d4;
}
.form a{
    color: #45f3ff;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background-color: #28292d;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #28292d;
    color: #d4d4d4;
    padding: 0 15px;
}
.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}
a.facebook{
    color: #fff;
    background-color: #4267b2;
}
a.facebook .facebook-icon{
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.facebook-icon,
img.google-img{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
img.google-img{
    height: 20px;
    width: 20px;
    object-fit: cover;
}
a.google{
    border: 1px solid #fff;
}
a.google span{
    font-weight: 500;
    opacity: 0.6;
    color: #fff;
}

@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }
    
}
